.distance {
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 10px;
}
.SantiMeters-Meters {
    display: flex;
    flex-direction: column;
    height: 200px;
}

input,
p {
    margin: 10px;
}
.values {
    display: flex;
    flex-direction: row;
}
.inputs,
.text {
    display: flex;
    flex-direction: column;
}
.mama {
    margin-right: auto;
    margin-left: 10px;
    width: 173px;
}
.liters-CubicMeters {
    display: flex;
    flex-direction: column;
}
.wrap{
    display: flex;
    flex-direction: row;
}